	<div id = "canvas">
		<div id = "cubedisplay">
			<div class = "face" id = "face-left">
				{{>squares}}
			</div>
			<div class = "face" id = "face-right">
				{{>squares}}
			</div>
			<div class = "face" id = "face-top">
				{{>squares}}
			</div>
			<div class = "face" id = "face-bottom">
				{{>squares}}
			</div>
			<div class = "face" id = "face-front">
				{{>squares}}
			</div>
			<div class = "face" id = "face-back">
				{{>squares}}
			</div>
		</div>
		<div id = "viewtoggle">
			<button class = "viewbutton" id = "up">U</button>
			<button class = "viewbutton" id = "left">L</button>
			<button class = "viewbutton" id = "right">R</button>
			<button class = "viewbutton" id = "down">D</button>

			<div id = "modelcube">
				{{>squares}}
			</div>

		</div>
	</div>
