	<div id = "canvas">
		Canvas
		<div id = "cubedisplay">
			<img src = "demorube.png" id = "cubed" alt = "A Rubik's Cube display">
		</div>
		<div id = "viewtoggle">
			<button class = "viewbutton" id = "up">U</button>
			<button class = "viewbutton" id = "left">L</button>
			<button class = "viewbutton" id = "right">R</button>
			<button class = "viewbutton" id = "down">D</button>

			<div id = "modelcube">
				<div class = "square"></div>
				<div class = "square"></div>
				<div class = "square"></div>

				<div class = "square"></div>
				<div class = "square"></div>
				<div class = "square"></div>

				<div class = "square"></div>
				<div class = "square"></div>
				<div class = "square"></div>
			</div>

		</div>
	</div>
