<div id = "canvas">
	<div id = "input-box">
		<input type = "text" id = "text-input" value = "Write something here!">
		<button id = "word-gen">Generate memorization string</button>
	</div>

	<div id = "content-display">
		Output will be shown here.
	</div>
</div>
