<div id = "canvas">
	<div id = "input-box">
		<input type = "text" id = "text-input" value = "Enter a pair of lowercase letters A - X">
		<button id = "word-gen">Generate word</button>
	</div>

	<div id = "content-display">
		Output will be shown here.
	</div>
</div>
