<div id = "menu">
	Menu

	<button class = "menu-button" id = "tutorials-page">Tutorials</button>
	<button class = "menu-button" id = "cube-page">Cube</button>
	<button class = "menu-button" id = "letters-page">Memorize</button>

</div>
