	<div id = "canvas">
		<div id = "scramblediv">scramble</div>
        <div id = "box1">
            
        </div>
        
        <div id = "solutiondiv">solution</div>
        <div id = "box2">
        
        </div>
        
        <button id = "hide">
            
        </button>
        
        <div id = "inputdiv">User Input</div>
        <div id = "box1">
            
        </div>
        
        <button id = "check">
            
        </button>
	</div>
