	<div id = "canvas">
		<div id = "scramble-display">SCRAMBLE WILL DISPLAY HERE</div>

		<div id = "solution-display">

    	<div id = "solution" style="display:none">SOLUTION WILL DISPLAY HERE</div>
			<button id = "reveal">Reveal Solution</button>

    </div>

    <div id = "user-input">

			<input type = "text" id = "text-input" value = "Enter your solution">
			<button id = "check-solution">Check Solution</button>

		</div>

    <div id = "result-display">
			Your solution is...
    </div>

	</div>
