	<div id = "canvas">
		<div id = "scramble-display">SCRAMBLE WILL DISPLAY HERE</div>
		<button id = "gen">Generate New Scramble</button>


		<div id = "solution-display">
			<h1> Edges:</h1>
    	<div id = "edge-solution" style="display:none">EDGE SOLUTION WILL DISPLAY HERE</div>

			<h1> Corners:</h1>
			<div id = "corner-solution" style="display:none">Corner SOLUTION WILL DISPLAY HERE</div>

			<button id = "reveal">Reveal Solution</button>

    </div>

    <div id = "user-input">

			<input type = "text" id = "text-input" value = "Enter your solution">
			<button id = "check-solution">Check Solution</button>

		</div>

    <div id = "result-display">
			Your solution is...
    </div>

	</div>
