<div class = "squared" id = "tl"></div>
<div class = "squared" id = "tm"></div>
<div class = "squared" id = "tr"></div>
<div class = "squared" id = "ml"></div>
<div class = "squared" id = "mm"></div>
<div class = "squared" id = "mr"></div>
<div class = "squared" id = "bl"></div>
<div class = "squared" id = "bm"></div>
<div class = "squared" id = "br"></div>
