<div id = "canvas">

	<div id = bar>Tutorials</div>
	<div id = link-container>

		<a href = 'https://ruwix.com/the-rubiks-cube/how-to-solve-the-rubiks-cube-blindfolded-tutorial/'>Link here</a>
		<a href = 'https://www.speedcubereview.com/blind-solving-algorithms.html'>And here</a>
		<a href = 'http://www.stefan-pochmann.info/spocc/blindsolving/3x3/old.php'>And maybe here</a>
		<a href = 'http://www.kungfoomanchu.com/guides/andy-klise-m2-oldpoch.pdf'>And maybe there</a>
		<a href = 'https://www.speedsolving.com/forum/threads/how-to-solve-a-rubiks-cube-blindfolded.10595/'>They're everywhere</a>
	</div>

</div>
