<!DOCTYPE html>

<html>
<head>
	<meta charset = "utf-8">
	<title>The Memo</title>

	{{#if style}}

	<link rel = "stylesheet" href = "{{style}}">
	
	{{/if}}


	<link rel = "icon" href = "thecube.ico">
</head>
<body>

	{{{body}}}


</body>
</html>

