

html {

padding: 0;
margin: 0;
}

body {

padding: 0;
margin: 0;
}

#canvas {
	width: 85%;
	height: 89vh;
	margin: 0;
	background-color: lightblue;
	float: left;
	display: inline;
	position: relative;
}

h1 {
	margin: 0;
	font-family: "verdana";
	font-size: 5vmin;
	width: 96%;
	height: 7vh;
	padding-right: 2vw;
	padding-left: 2vw;
	padding-top: 2vh;
	padding-bottom: 2vh;
	background-color: black;
	color: white;
}

#menu {

	width: 15%;
	height: 88vh;
	margin: 0;
	background-color: lightsteelblue;
	display: inline;
	float: left;
	font-size: 4vmin;
	font-family: "verdana";
	text-align: center;
	padding-top: 1vh;
}

.menu-button {
	display: block;
	margin: 15%;
	width: 70%;
	font-size: 1.3vmin;
	padding-top: 3%;
	padding-bottom: 3%;
}

button:focus {outline:0 !important;}
